body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:linear-gradient(rgb(124, 124, 123), rgba(211, 214, 187, 0.87))
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background-color: #ebf3f3;
  border: none;
  color: rgb(52, 46, 46);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

#scrollToTopBtn:hover,
#scrollToTopBtn:focus {
  opacity: 0.8;
}
.containerintro {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}
.logo-section {
  height: 270px; /* Establece la altura al 100% del viewport */
  display: flex;
  justify-content: center;
  align-items: center;
 /* Color de fondo opcional */
}

.container {
  max-width: 800px; /* Ancho máximo del contenedor */
  text-align: center;
}

.logo {
  width: 100%; /* Ajusta el tamaño máximo de la imagen al contenedor */
  height: 100%;
  max-width: 350px;
  max-height: 350px;
}


.welcome {
  font-size: 24px;
  color: #13290e;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 20px;
}
.visible {
  display: block !important;
}
.texto-completo {
  display: none;
}

.message {
  font-size: 18px;
  color: #555;
}

.login-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-left: 10px;
}

.login-link:hover {
  text-decoration: underline;
  color: #1b1b09;
}
a{
  text-decoration: none;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 15px;
    background-color: #e2d7d7bd;
    box-shadow: 5px 5px 15px white;
    border-radius: 12px;
  
  gap: 50px; 
}

.slide {
  flex: 0 0 auto; 

}
.slider-container {
  width: 600px;
  margin: 50px;
  overflow: hidden;
  position: relative;
}

.slider2 {
  display: flex;
  transition: transform 3.5s ease;
  
}

.slide2 {
  min-width: 100%;
}

.slider2 img {
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 350px;
  border-radius: 6px;
  
 
}
.slider2 h4{
  padding: 4px;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 6px;
  max-width: 270px;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.videosintro {
  width: 100%;
  max-width: 350px; 
  height: 100%;
  
  max-height: 350px;
  object-fit: cover; 
}

.container a{
  text-align: center;
  
}

.container video {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.cliente {
  display: block; 
  background-color: #242e42;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  
  box-shadow: 1px 1px 8px rgb(224, 223, 223);
}
table{
  border-radius: 4px;
  margin-top: 50px;
  
}

.titulo {
  font-size: 24px;
  color: #e2d7d7;
  margin-bottom: 10px;
}

.imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px white;
  border: solid white 1px;
}

.texto {
  font-size: 16px;
  color: #f5ecec;
  line-height: 1.6;
  margin-bottom: 10px;
}

.fuente {
  color: #e0e4e7;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 20px;
}

.fuente:hover {
  color: #32cf81;
}
.contador{
  background-color: aliceblue;
  padding: 6px;
  border-radius: 4px;
  margin-left: 10px;
}
.temario{
  background-color: #f1efeff5;
  color: rgb(36, 35, 35);
  border-radius: 8px;
  padding: 4px;
  margin: 2px;
  font-family: 'Times New Roman', Times, serif;
}
.temario:hover{
  background-color: #161515e8;
  color: rgb(223, 211, 211);
}

#documen {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 1px 1px 10px black;
  box-shadow: 1px 1px 10px back;
}

.mivideo {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}


.mivideo2{
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 100px maroon;
  height: 100%;
  width: 100%;
  max-width: 450px;
  max-height: 400px;
  margin-bottom: 70px;

}

.guerra-vid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.guerra {
  width: 100%;
  height: 100%;
  max-width: 650px;
  border-radius: 10px;
  max-height: 450px;
  border: solid 1.5px green;
  box-shadow: 1px 1px 10px black;
  margin: auto; /* Esto centrará horizontal y verticalmente */
}



#divi-pa{
  padding: 8px;
  border-radius: 8px;
  
 
  z-index: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
#divi-pa p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #d2eedd;
  text-wrap: balance;
  background-color: #0e1f4194;
  box-shadow: 1px 1px 10px black;
  padding: 4px;
  border-radius: 6px;
  width: 100%;
  max-width: 450px;
  max-height: 100%;
  margin: 10px;
  text-wrap: balance;

    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-style: italic;
  
}








#documen h2 {
  text-align: center;
  margin-bottom: 50px;
}

#documen .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#documen .col {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}






/* Estilos para la sección de globalización */
.globalization-section {
  background-color: #f9f9f9;
  padding: 50px 0;


}
.container-glo {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global-info {
  flex: 1;
  
}

.global-info h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.global-info p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.global-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



/* Estilos para la sección moderna */
.modern-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  background-color: #f9f9f9;

}

.container-mod {
  flex: 1;
}

.modern-info {
  text-align: right; /* Cambiado */
  
}

.modern-info h2{
  font-size: 36px;
}

.modern-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  margin-left: 150px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #44b5d8ee;
}

.modern-image {
  text-align: center; 
  margin-top: 20px; 
}

.modern-image img {
  height: 100%;
  width: 100%;
  max-width: 450px;
  max-height: 350px;
  border-radius: 8px;
}


/*sion*/
.globalization-section2 {
  background-color: #f9f9f9;
  padding: 50px 0;


}
.container-glo2 {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: left;
}
.global-image2 img {
  
  display: flex;
  
  width: 310px;
  height: 250px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.global-info2 p {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  margin: 10px;
}

@media screen and (max-width: 720px) {


  
  .slider2 {
    display: flex;
    transition: transform 0.5s ease;
    
  }
  
  .slide2 {
    min-width: 100%;
  }
  
  .slider2 img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 350px;
    border-radius: 6px;
    
   
  }
  .slider2 h4{
    padding: 4px;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 6px;
    max-width: 270px;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 15px;
    background-color: #fdfdfd34;
    box-shadow: 5px 5px 5px white;
    border-radius: 12px;
    
  
   
    
.slider2 {
  display: flex;
  transition: transform 0.5s ease;
  
}

.slide2 {
  min-width: 100%;
}

.slider2 img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 6px;
  
 
}
.slider2 h4{
  padding: 4px;
  background-color: rgb(41, 32, 32);
  color: rgb(175, 165, 165);
  border-radius: 4px;
  margin: 6px;
  max-width: 270px;
  box-shadow: 1px 1px 6px black;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
    
  

  }
  .cliente {
    display: block; 
    background-color: #242e42;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .slide {
    flex: 0 0 auto; 
  }

  .globalization-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container-glo {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .global-info {
    flex: 1;
    padding-right: 20px;
  }
  
  .global-info h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .global-info p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
  }
  
  .global-image img {
    max-width: 100%;
    height: 100%;
    max-height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  

  
}


@media screen and (max-width: 500px) {

   
  .slider-container2 {
    margin-bottom: 350px;
    max-width: 100%;
   
  }
  
  .slider2 {
    display: flex;
    transition: transform 2s ease;
    max-width: 400px;
    margin-bottom: 100px;
    
    
  }
  #divi-pa{
    padding: 8px;
    border-radius: 8px;
    
   
    z-index: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  #divi-pa p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #d2eedd;
    text-wrap: balance;
    background-color: #0e1f4194;
    box-shadow: 1px 1px 10px black;
    padding: 4px;
    border-radius: 6px;
    width: 100%;
    max-width: 450px;
    max-height: 100%;
    margin: 10px;
    text-wrap: balance;
  
      font-family: Poppins, sans-serif;
      font-weight: 300;
      font-style: italic;
    
  }
  
  .slide2 {
    min-width: 100%;
    
    
  }
  
  .slider2 img {
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 185px;
    border-radius: 6px;
    
    
   
  }
  .slider2 h4{
    padding: 4px;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 6px;
    max-width: 270px;
    box-shadow: 1px 1px 6px black;

  }



  .cliente {
    display: block; 
    background-color: #242e42;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  .container{
    margin-bottom: 20px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
  
   
    
    
  
    gap: 10px; 
  }
  .guerra-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .guerra {
    width: 100%;
    height: 100%;
    max-width: 400px;
    border-radius: 10px;
    max-height: 350px;
    border: solid 1.5px green;
    box-shadow: 1px 1px 10px black;
    margin: auto; /* Esto centrará horizontal y verticalmente */
  }
  .slide {
    flex: 0 0 auto; 
  }

  .videosintro {
    width: 100%;
    max-width: 150px; 
    height: 100%;
    
    max-height: 150px;
    object-fit: cover; 
  }
  .mivideo2{
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 100px maroon;
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    
  
  }
  .globalization-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container-glo {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .global-info {
    flex: 1;
    padding-right: 20px;
  }
  
  .global-info h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .global-info p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 10px;
  }
  
  .global-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .modern-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
  
  }
  
  .container-mod {
    flex: 1;
  }
  
  .modern-info {
    text-align: center; 
  }
  .modern-info h2{
    font-size: 26px;
  }
  
  .modern-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  
  
  .modern-image {
   
    margin-top: 5px;
  }
  
  .modern-image img {
    height: 100%;
    width: 100%;
    max-width: 450px;
    max-height: 350px;
    border-radius: 8px;
  }
  
 
}
@media screen and (max-width: 390px) {

   
  .slider-container2 {
    margin-bottom: 350px;
    max-width: 100%;
   
  }
  
  .slider2 {
    display: flex;
    transition: transform 2s ease;
    max-width: 400px;
    margin-bottom: 100px;
    
    
  }
  #divi-pa{
    padding: 8px;
    border-radius: 8px;
    
   
    z-index: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  #divi-pa p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #d2eedd;
    text-wrap: balance;
    background-color: #0e1f4194;
    box-shadow: 1px 1px 10px black;
    padding: 4px;
    border-radius: 6px;
    width: 100%;
    max-width: 450px;
    max-height: 100%;
    margin: 10px;
    text-wrap: balance;
  
      font-family: Poppins, sans-serif;
      font-weight: 300;
      font-style: italic;
    
  }
  
  .slide2 {
    min-width: 100%;
    
    
  }
  
  .slider2 img {
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 185px;
    border-radius: 6px;
    
    
   
  }
  .slider2 h4{
    padding: 4px;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 6px;
    max-width: 270px;
    box-shadow: 1px 1px 6px black;

  }



  .cliente {
    display: block; 
    background-color: #242e42;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  .container{
    margin-bottom: 20px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
  
   
    
    
  
    gap: 10px; 
  }
  .guerra-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .guerra {
    width: 100%;
    height: 100%;
    max-width: 400px;
    border-radius: 10px;
    max-height: 350px;
    border: solid 1.5px green;
    box-shadow: 1px 1px 10px black;
    margin: auto; /* Esto centrará horizontal y verticalmente */
  }
  .slide {
    flex: 0 0 auto; 
  }

  .videosintro {
    width: 100%;
    max-width: 150px; 
    height: 100%;
    
    max-height: 150px;
    object-fit: cover; 
  }
  .mivideo2{
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 100px maroon;
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    
  
  }
  .globalization-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container-glo {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .global-info {
    flex: 1;
    padding-right: 20px;
  }
  
  .global-info h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .global-info p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 10px;
  }
  
  .global-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .modern-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
  
  }
  
  .container-mod {
    flex: 1;
  }
  
  .modern-info {
    text-align: center; 
  }
  .modern-info h2{
    font-size: 26px;
  }
  
  .modern-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  
  
  .modern-image {
   
    margin-top: 5px;
  }
  
  .modern-image img {
    height: 100%;
    width: 100%;
    max-width: 450px;
    max-height: 350px;
    border-radius: 8px;
  }
  
 
}